/* Todo el componente */
.wraper-crear {
  margin-top: 55px;
}

.contractComponent {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  /* text-align: center; */
  color: white;
  font-family: Poppins;
  font-weight: bold;
  font-size: 18px;
}

.modal-overlay{
  max-height: 900px;
  width: 900px;
  margin-left: 100px;
}

/* Card Azul */
.contractForm {
  width: 90%;
  background-color: var(--azulSecundario);
  padding: 10px;
  border-radius: 12px;
  margin-bottom: 10px;
}

.labelInput {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
  text-align: left;
  width: 100%;
  /* background-color: black; */
  margin-top: 10px;
}

.labelContract {
  text-align: left;
  padding-left: 10px;
}

.inputForm {
  width: 100%;
}

.inputFormComponent {
  width: 95%;
  height: 35px;
  font-family: Poppins;
  font-weight: bold;
  font-size: 18px;
  border-radius: 7px;
}

.tiempoRecompensa {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

}

.inputFormComponentTr {
  width: 35%;
  height: 35px;
  font-family: Poppins;
  font-weight: bold;
  font-size: 18px;
  margin-right: 5px;
  border-radius: 7px;
}

.group-button-build {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 10px;
}

.acept-contract {
  background-color: white;
  cursor: pointer;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.75;
  letter-spacing: 0.02857em;
  text-transform: uppercase;
  min-width: 64px;
  padding: 6px 8px;
  border-radius: 5px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  color: rgb(0, 105, 242);
}

.acept-contract-disable {
  background-color: rgb(178, 187, 186) !important;
}

.acept-contract:hover {
  box-shadow: 3px 0px 30px rgb(115, 175, 253);
}

@media (min-width: 600px){

  /* Todo el componente */
.wraper-crear {
  margin-top: 5px;
}

  /* Card Azul */
.contractForm {
  width: 50%;
}

}

@media (min-width: 992px){

  /* Todo el componente */
.wraper-crear {
  margin-top: 5px;
}

  /* Card Azul */
.contractForm {
  width: 60%;
}

}












/* .combo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.labelForm-archivoTest {
  background-color: transparent;
  margin-right: 1%;
  margin-left: 1%;
  width: 100%;
} */


/* 
.terms {
  font-size: 12px;
}

.inputForm {
  width: 80%;
}

.inputFormCoin {
  height: 25px;
  width: 100%;
  font-size: 18px;
  padding: 10px;
}

.buttonFormComponent input {
  color: white;
}

.acept-contract {
  background-color: white;
  cursor: pointer;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.75;
  letter-spacing: 0.02857em;
  text-transform: uppercase;
  min-width: 64px;
  padding: 6px 8px;
  border-radius: 50px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  color: rgb(0, 105, 242);
}

.acept-contract-disable {
  background-color: rgb(178, 187, 186) !important;
}

.acept-contract:hover {
  box-shadow: 3px 0px 30px rgb(115, 175, 253);
}

.modal-overlay {
  position: relative;
  top: 0;
  left: 0;
  z-index: 1040;
  width: 75vw;

}

.file-group-contract {
  display: flex;
  align-items: end;
}

.input__row {
  margin: 0;
  width: 30px;
  height: 30px;
  position: absolute;
  right: 0;
}

.upload {
  display: none;
}

.uploader {
  border: 1px solid #ccc;
  width: 300px;
  position: relative;
  height: 30px;
  display: flex;
}

.uploader .input-value {
  padding: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 25px;
  font-family: sans-serif;
  font-size: 16px;
}

.uploader label {
  cursor: pointer;
  margin: 0;
  width: 30px;
  height: 30px;
  position: absolute;
  right: 0;
  background: #c3e3fc
    url("https://www.interactius.com/wp-content/uploads/2017/09/folder.png")
    no-repeat center;
}

.iframes-test-contract {
  display: flex;
  width: 100%;
  height: 500px;
}

.iframes-test-contract-object {
  width: 50%;
  height: 500px;
}

.input-reach-text {
  width: 100%;
  border: 1px solid black;
  padding: 2px;
  font-weight: normal;
}

.input-reach-text {
  color: black;
}

@media (min-width: 576px) {
  .contractComponent {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
    text-indent: 0.5px;
  }

  .contractForm {
    width: 60%;
    background-color: rgb(0, 105, 242);
  }

  .contractForm-form {
    background-color: yellow;
    width: 95%;
  }

  .labelForm-archivoTest {
    background-color: transparent;
  }

  .inputFormCComponent {
    width: 100%;
    height: 25px;
    font-size: 24px;
    padding: 10px;
    max-width: 100%;
  }

  .inputForm {
    width: 100%;
  }

  .inputFormReward {
    height: 25px;
    width: 100%;
    font-size: 24px;
    padding: 10px;
  }

  .inputFormCoin {
    height: 50px;
    width: 100%;
    font-size: 24px;
  }

  .inputFormCoin-disabled {
    border: none;
    color: black;
    font-size: 18px;
    font-family: "Poppins", sans-serif;
  }

} */