.chatComponent{
    width: 100%;
    height: 40%;
    position: fixed;
    bottom: 0;
    background: url('../imagenes/FondoPF.jpeg');
    z-index: 9999;
     }

.chatPannel { 
        display: flex;
        flex-direction: row;
        justify-content: end;
        text-align: end;
        height: 15%;
}
   

.chatBody {
    display: flex;
    flex-direction: row;
    /* background-color: yellow; */
    height: 100%;
}

.chatLeft {
    width: 20%;
    /* height: 100px;
    background: url('../imagenes/decorative.png'); */
    /* background-color: blue; */
}

.chatCenter {
    width: 60%;
    height: 100%;
}

.messageArea {
    box-sizing: border-box;
    width: 100%;
    height: 200px;
    border: solid;
    border-radius: 5px;
    border-width: 1px;
    background-color: rgb(195, 208, 238);
    overflow-y: scroll;
  }

.chatRight {
    width: 20%;
    height: 100%;
    /* background-image: url('decorative.png'); */
}

.messageComponent {
    height: 100%;
    width: 100%;
    border: solid;
    border-color: black;
    background-color: #f2f2f2;
    overflow-y: scroll;
}

.senderComponent {
    display: flex;
    flex-direction: row;
    width: 57%;
    background-color: #f5f5f5;
    position: fixed;
    bottom: 0;
    z-index: 99999;
  }
  
  .inputSender {
    width: 100%;
    height: 36px;
    border: solid;
    background-color: rgb(195, 208, 238);
    border-radius: 5px;
    border-width: 1px;
    color: rgb(45, 105, 243);;
    font-size: 26px;
  }
  
  .inputSenderButton {
    height: 40px;
    border: solid;
    border-radius: 5px;
    border-width: 1px;
    background-color: rgb(111, 146, 228);
    color: black;
    font-size: 26px;
  }
  
.userDataComponent {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.avatar {
  max-height: 100px;
  max-width: 100px;
  border-radius: 50%;
}

/* img {
  object-fit: fill;
} */

/* *{margin: 0; padding: 0;} */
.caja{
/* display: flex;
flex-flow: column wrap; */
justify-content: center;
align-items: center;
/* background: #333944; */
border-radius: 50%;
}
.box{
width: 100px;
height: 50px;
/* background: #CCC; */
overflow: hidden;
border-radius: 50%;

}

.box img{
width: 50%;
height: auto;
border-radius: 50%;
}
  
.chaters {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
}

.messageContainer {
  /* display: flex;
  flex-direction: row; */
  /* justify-content: flex-end; */
  width: 100%;
  /* height: 100%; */
}


.messageDivFrom {
  border: solid;
  max-width: 70%;
  border-color: rgb(197, 255, 197);
  background-color: rgb(191, 218, 191);
  text-align: end;
  margin-top: 5px;
  padding: 10px;
  border-radius: 5px;
  margin-right: 15px
}

.messageDivTo {
  border: solid;
  max-width: 70%;
  border-color: rgb(197, 255, 197);
  background-color: rgb(67, 144, 231);
  text-align: start;
  margin-top: 5px;
  padding: 10px;
  border-radius: 5px;
  margin-left: 15px
}

.activeContracts {
  display: flex;
  flex-direction: row;
}

.chatIcon {
  width: 60px;
}

.contractsChat {
  display: flex;
  text-align: start;
  align-items: flex-start;
}

.contractDetailButton {
  display: flex;
  flex-direction: row;
}