.container-contratos {
  background-color: yellow;
}

.main-contratos {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 1rem;
  padding: 20px;
}

.contratos-card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background-color: var(--blanco);
  color: black;
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
  border-radius: 12px;
  height: 130px;
  padding: 10px;
}

.wrapper {
  padding-top: 20px;
  padding-bottom: 20px;
}

.wrapper:focus {
  outline: 0;
}

.contratos-card span {
  color: blue;
}

.pagination-style {
  margin-top: 20px;
}

.pagination-estilo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35px;
  position: inherit;
  background-color: transparent;
  color: var(--blanco);

}

.ellipsis-contract-name {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 1.5rem;
}

.contractAmount {
  font-size: 2.5rem;
  font-weight: bold;
}

.contractShortDescription {
  margin-top: -8px;
}

/* Search Bar */
.search-contrato {
  display: flex;
  flex-direction: column;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
  }

.select-tipo {
  width: 100%;
  border: 3px solid var(--azulPrimario);
  border-radius: 5px;
  padding: 0.25em 0.5em;
  font-size: 1.25rem;
  cursor: pointer;
  line-height: 1.1;
  background-color: #fff;
  font-family: "Poppins", sans-serif;
  font-size: inherit;
}

.select-categoria {
  width: 100%;
  border: 3px solid var(--azulPrimario);
  border-radius: 5px;
  padding: 0.25em 0.5em;
  font-size: 1.25rem;
  cursor: pointer;
  line-height: 1.1;
  background-color: #fff;
  margin-top: 15px;
  font-family: "Poppins", sans-serif;
  font-size: inherit;
}

/* Botón Crear Contrato */
.crea-contrato button{
  border-radius: 7px;
  text-decoration-line: none;
  width: 80%;
  margin-top: 15px;
  font-family: "Poppins", sans-serif;
  font-size: inherit;
  font-weight: bold;
}

.contratos-card:hover {
  z-index: 5;
  box-shadow: 0px 13px 30px -15px #000;
  transform: translateY(-10px);
}

.searchTerm {
  border: 3px solid #0078E7;
  padding: 5px;
  height: 24px;
  border-radius: 5px;
  outline: none;
  color: black;
  font-family: "Poppins", sans-serif;
  font-size: inherit;
}

.searchTerm:focus{
  color: black;
}



@media screen and (min-width: 600px){
  .main-contratos {
    grid-template-columns: repeat(2, 1fr);
  }

  /* Contenedor de filtros */
  /* .wraper-filtros {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
  } */

  /* Search Bar */
  .search-contrato {
    display: flex;
    flex-direction: column;
    width: 20%;
  }

.select-tipo {
  width: 250px;
}

.select-categoria {
  width: 250px;
  margin-top: 0px;
}

/* Botón Crear Contrato */
.crea-contrato button{
  width: 20%;
}
.wraper-filtros {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
}
}

@media screen and (min-width: 790px){
  
  .main-contratos {
    grid-template-columns: repeat(3, 1fr);
  }
  .wraper-filtros {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media screen and (min-width: 992px){
  
  .main-contratos {
    grid-template-columns: repeat(4, 1fr);
  }

  /* Contenedor de filtros */
  .wraper-filtros {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
  }

  /* Search Bar */
  .search-contrato {
    display: flex;
    flex-direction: column;
    width: 20%;
  }

.select-tipo {
  width: 250px;
}

.select-categoria {
  width: 250px;
  margin-top: 0px;
}

/* Botón Crear Contrato */
.crea-contrato button{
  width: 20%;
  text-decoration: none;

}

}