.preview-content{
  background: linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,.5)), url('./../../componentes/imagenes/FondoPF.jpeg')no-repeat center center fixed ; 
  -webkit-background-size: repeat;
  -moz-background-size: repeat;
  -o-background-size: repeat;
  background-size: repeat;
  background-repeat: repeat;
  display: flex;
  flex-direction: column;

  width: 120%;
  height: 400px;
  border-radius: 30px;
  margin-top: 14%;
  margin-left: -80px;
}
/* .main-detalle{
  background-color: yellow;
} */

.group-button-preview{
  display: flex;
  justify-content: space-between;
}
.group-button-preview button{
  background-color: #0078E7;
  border-radius: 20px;
  font-size: 10px;
}

.group-button-build{
  display: flex;
  justify-content: space-evenly;
}


@media (min-width:600px){
  
  .preview-content{
    background: linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,.5)), url('./../../componentes/imagenes/FondoPF.jpeg')no-repeat center center fixed ; 
    -webkit-background-size: repeat;
    -moz-background-size: repeat;
    -o-background-size: repeat;
    background-size: repeat;
    background-repeat: repeat;
    display: flex;
    flex-direction: column;
  
    width: 990px;
    height: 520px;
    border-radius: 30px;
    margin-top: 14%;
    margin-left: 40px;
  }
  /* .main-detalle{
    background-color: yellow;
  } */
  
  .group-button-preview{
    display: flex;
    justify-content: space-between;
  }
  .group-button-preview button{
    background-color: #0078E7;
    border-radius: 20px;
    font-size: 14px;
  }

}