
.main-detalle {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}
.titulo-detalle{
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}

.detalle-card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  color: black;
  font-size: 10px;
  font-family: "Poppins", sans-serif;
  width: 280px;
  height: 360px;
  margin-left: 12px;
  border-radius: 12px;
  padding: 10px;
  text-align: center;
}

.bodyCard { 
  
    height: 80%;
    overflow: scroll;

}


.wraper-detalle{
  margin-top: 24%;
}

.detalle-card span {
  color: blue;
}

.detalle-card Button {
  margin-left: 2%;
}

.xButton {
  width: 100%;
  text-align: end;
}

.daysAmount {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 10px;
}

.amountText {
  display: flex;
  flex-direction: row;
}

.input-reach-text-disabled {
  border: transparent;
  color: black;
  padding: 10px;
  font-weight: normal;  
}

.input-reach-text-disabled span {
  border: transparent;
  color:black;
  padding: 2px;
}


/* @media (min-width:600px){

  
  .detalle-card {
    font-size: 7px;
    font-size: 18px;
    width: 600px;
    height: 490px;
    margin-left: 200px;
    border-radius: 30px;
    padding: 10px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  .wraper-detalle{
    margin-top: 14%;
  }
  
  .titulo-detalle h1{
    font-size: 24px;
    text-align: left;
    margin-left: 260px;
  }
  
} */


@media (min-width:992px){

  
  .detalle-card {
    font-size: 7px;
    font-size: 18px;
    width: 600px;
    height: 350px;
    margin-bottom: 15px;
  }
  
  .wraper-detalle{
    margin-top: 110px;
  }
  
  .titulo-detalle{
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 24px;
    margin-bottom: 10px;
  }
  /* .bodyCard { 
    height: 80%;
    overflow: scroll;

} */
} 