footer {
    
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background: linear-gradient(45deg, var(--azulSecundario), var(--azulPrimario));
    color: var(--blanco);

    }

    .footer-titulo{
        margin-left: 15px;
    }

    .divisor-home {
        margin-top: 0;
        width: 100%;
        height: 2em;
        background-color: black;
      }

      .logos-footer img {
        width: 30px;
        height: 30px;
      }

      .logos-footer{
        display: flex;
        justify-content: baseline;
        margin-top: 15px;
    }
    .logos-footer a{
           
        margin-left: 10px;
    }

    .home-izquierda{
        text-align: left;
        font-size: 16px;
        font-weight: bold;
        margin-top: 15px;
        margin-bottom: 15px;
        margin-left: 10px;
    }

    .home-derecha{
        /* width: 30%; */
        margin-right: 10px;
        text-align: right;
        
        /* text-decoration: none; */
    }
    .home-derecha li{
        list-style-type: none;
        text-decoration: none;


    }

    .contenedor-footerItems{
        /* display: flex;
        flex-direction: column; */
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template: 
        "home-izquierda home-derecha" 
        ;
    }

    .active{
        color: white;
        font-weight: bold;
        text-decoration: none;
        
    }
    
    .noActive{
        color: var(--blanco);
        text-decoration: none;
    
    }

    .boton-registrarse button{
        background-color: transparent;
        border: none;
        /* font-family: 'Poppins', sans-serif; */
        color: var(--blanco);
        font-size: medium;
    }

    @media (min-width: 992px){

        .logos-footer img {
            width: 40px;
            height: 40px;
          }

         /* .logos-footer a{
             margin-left: 15px;
         }  */
        
         .home-izquierda{
          
            margin-left: 10px;
            font-size: 22px;
        }

        .home-derecha{
            margin-right: 30px;
          
        } 
        
        
        .logos-footer a{
           
            margin-left: 15px;
        }
    }