
.registro1Component {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;}


.circleButton {
    width: 30px;
    height: 30px;
    background-color: rgb(103, 103, 255);
    border: solid;
    border-width: 1px;
    border-radius: 50px;
}

.circleButton2 {
    width: 30px;
    height: 30px;
    background-color: rgb(184, 190, 181);
    border: solid;
    border-width: 1px;
    border-radius: 50px;
}

.twoButtonsComponent {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.circleText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 5px;
}

.inputsPlace {
    border-width: 1px;
    border-radius: 20px;
    background-color: rgb(247, 247, 233);
}

.labelInput {
    margin-top: 10px
}

.labelForm {
    text-align: start;
    padding-left: 25px;
}

.inputFormComponent {
    width: 80%;
    height: 30px;
    font-size: 20px;
}

.buttonFormComponent {
    margin-top: 10px;
}

.buttonComponent {
    height: 30px;
    width: 120px;
    margin-bottom: 10px;
    border-radius: 8px;
    background-color: rgb(103, 103, 255);

}

.avatar {
    width: 100px;
    height: 100px;
}

.avatarInput {
    display: none
}

.loginComponent {
    background-color: rgb(247, 247, 233);
}

.avatarContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center4;
}