/* Dispositivos móviles */

.main {
  /* display: flex;
    flex-direction: row; */
  display: grid;
  /* grid-template-columns: 55% 45%; */
  /* gap: 10px; */
  grid-template-areas:
    "area-texto"
    "wraper-images"
    "divisor-home"
    "footer-home";
}

.area-texto {
  background-color: transparent;
}

.texto-home {
  width: 25em;
  margin-top: 5em;
  margin-left: 5em;
  font-family: "Poppins", sans-serif;
  font-weight: bolder;
  font-size: 12px;
}
.texto-secundario {
  width: 20em;
  margin-left: 3em;
  font-family: "Poppins", sans-serif;
  font-family: 10px;
}

.button-container button {
  margin-top: 25px;
  width: 215px;
  height: 25px;
  border-radius: 30px;

}

.wrap-downpage {
  display: grid;
  grid-template-rows: repeat(1, 2fr);
  width: 20em;
  margin-left: 20%;
  font-size: 12px;
}
.contenedor-secundario {
  width: 100%;
  height: 56%;
  background-color: white;
  margin-top: 5%;
}

.texto-motivador {
  margin-top: 15%;
}

.wraper-images {
  background-color: transparent;
}

.wraper-images img {
  width: 20em;
  height: 15em;
}

.wraper-images iframe {
  width: 20em;
  height: 15em;
}

.imagen-azul img {
  width: 100%;
  height: 15em;
}

.divisor-home {
  margin-top: 0;
  width: 100%;
  height: 2em;
  background-color: black;
}

.logos-footer img {
  width: 30px;
  height: 30px;
}
.logos-footer {
  display: flex;
  justify-content: space-evenly;
}

.footer-home {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-color: #ffffff;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-size: 15px;
}

.home-izquierda {
  width: 70%;
}

.home-derecha {
  width: 30%;
  margin-left: 15%;
}

.home-derecha ul {
  list-style: none;
}

.register-link {
  background-color: transparent;
  border: none;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-size: 15px;
  cursor: pointer;
}

/* Desktop > 576px ///////////////////////////////////// */

@media (min-width: 576px) {
  .main {
    background-color: transparent;
    grid-template-columns: 40% auto;
    /* grid-template-rows: 70% 5% 5%;   */
    grid-template-areas:
      "area-texto wraper-images"
      "divisor-home divisor-home"
      "footer-home footer-home";
  }

  .texto-home {
    width: 30em;
    margin-left: 10%;
    font-family: "Poppins", sans-serif;
    font-weight: bolder;
  }

  .texto-secundario {
    width: 25em;
    margin-left: 11%;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
  }

  .button-container button {
    margin-top: 1.5625em;
    margin-left: 20%;
    width: 215px;
    height: 25px;
    border-radius: 30px;

  }

  .wrap-downpage {
    display: grid;
    grid-template-rows: repeat(1, 2fr);
    width: 20em;
    margin-left: 10%;
    font-size: 14px;
  }

  .contenedor-secundario {
    width: 100%;
    height: 45%;
    background-color: white;
    margin-top: 4%;
  }

  .texto-motivador {
    margin-top: 7%;
  }

  .wraper-images img {
    width: 300px;
    height: 300px;
    margin-left: 15%;
  }

  .imagen-azul img {
    width: 100%;
    height: 15em;
  }

  .divisor-home {
    margin-top: 0;
    width: 100%;
    height: 2.5em;
    background-color: black;
  }

  .logos-footer img {
    width: 30px;
    height: 30px;
  }
  .logos-footer {
    display: flex;
    justify-content: space-evenly;
  }

  .footer-home {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: #ffffff;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    font-size: 15px;
  }

  .home-izquierda {
    width: 70%;
  }
  .home-derecha {
    width: 30%;
    margin-left: 15%;
  }

  .home-derecha ul {
    list-style: none;
  }
}

/* Desktop > 992px //////////////////////////////////////// */

@media (min-width: 992px) {
  .main {
    background-color: transparent;
    grid-template-columns: 40% auto;
    /* grid-template-rows: 70% 5% 5%;   */
    grid-template-areas:
      "area-texto wraper-images"
      "divisor-home divisor-home"
      "footer-home footer-home";
  }

  .texto-home {
    width: 30em;
    margin-left: 10%;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    font-size: 16px;
  }
  .texto-secundario {
    width: 25em;
    margin-left: 18%;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
  }

  .button-container button {
    margin-top: 1.5625em;
    margin-left: 20%;
    width: 315px;
    height: 45px;
    font-size: 16px;
    border-radius: 30px;
  }

  .wrap-downpage {
    display: grid;
    grid-template-rows: repeat(1, 2fr);
    width: 25em;
    margin-left: 10%;
    font-size: 16px;
  }

  .contenedor-secundario {
    width: 100%;
    height: 45%;
    background-color: white;
    margin-top: 4%;
    margin-left: 9%;
  }

  .texto-motivador {
    margin-top: 15%;
  }

  .wraper-images img {
    width: 400px;
    height: 400px;
    margin-left: 15%;
  }

  .imagen-azul img {
    width: 82%;
    height: 100%;
  }

  .divisor-home {
    margin-top: 0;
    width: 100%;
    height: 40px;
    background-color: black;
  }
}

/* .videoComponent {
  width: 100%;
  height: 100%;

}

iframe {
  width: 600px;
  height: 600px;
} */