:root{
  --negro: #000000;
  --blanco: #FFFFFF;
  --azulPrimario: #0078E7;
  --azulSecundario: rgba(0, 120, 231, 0.66);
  --azulTerciario: rgba(0, 120, 231, 0.33);
  --transparente: transparent;
}

/* La variable de color se utiliza de la siguiente manera:

  background-color: var(--negro);
  color: var(--blanco);

*/

::-webkit-scrollbar {
  display: none;
}

.App {
  text-align: center;
  overflow: hidden;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body{
  background: linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,.5)), url('./componentes/imagenes/FondoPF.jpeg')no-repeat center center fixed ; 
  -webkit-background-size: repeat;
  -moz-background-size: repeat;
  -o-background-size: repeat;
  background-size: repeat;
  background-repeat: repeat;
}

html {
  height: 100%;
}

.row {
  display: flex;
  flex-direction: row;
}